$font: 'Poppins', sans-serif;

$body-bg: #f7f8fa;

$white: #ffffff;
$black: #000000;

$primary-blue: #0c6ba9;
$primary-blue-dark: #1565c0;
$secondary-blue: #049af8;
$secondary-blue-light: #79cbff;
$secondary-blue-extra-light: #ebf7ff;

$primary-red: #ff0000;

$primary-gray: #bdbdbd;
$secondary-gray: #e0e0e0;
$secondary-gray-light: #f2f2f2;
$secondary-gray-dark: #828282;
$tertiary-gray: #333333;

$primary-green: #447e32;

$transition-02s: all 0.2s ease;
